<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opendev.mapper.RoleMapper">

    <sql id="Base_column_list">
        role_id, role_name, role_desc, status, create_time, update_time
    </sql>

    <!-- 查询用户所拥有的角色 -->
    <select id="selectRoleByUserId" parameterType="Integer" resultType="com.opendev.model.Role">
        select
        <include refid="Base_column_list"/>
        from t_role where role_id in (
          select role_id from t_user_role where user_id = #{userId}
        )
    </select>

</mapper>