<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opendev.mapper.RolePermissionMapper">

    <!-- 查询用户所拥有的角色的权限 -->
    <select id="selectPermsByRoleIds" parameterType="Integer" resultType="String">
        select perms from t_permission where id in (
          select perm_id from t_role_permission where role_id in (
            <foreach collection="list" item="roleId" separator=",">
                #{roleId}
            </foreach>
          )
        )
    </select>
</mapper>