<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opendev.mapper.UserMapper">

    <sql id="Base_column_list">
        user_id, username, password, mobile, nick_name, avatar, sex, email, email_verified, true_name, id_card, birthday, status, create_time, update_time
    </sql>

    <select id="selectByUserId" parameterType="Integer" resultType="com.opendev.model.User">
        select
        <include refid="Base_column_list"/>
        from t_user where user_id = #{userId}
    </select>

    <select id="selectByUsername" parameterType="String" resultType="com.opendev.model.User">
        select
        <include refid="Base_column_list"/>
        from t_user where username = #{username}
    </select>
</mapper>